/* CSS declarations go here */
span.selectedSunday {
  font-size: 24px;
  font-weight: bold;
  padding: 10px;
}

.container {
  display: flex;
}

.sundayMusicItem {
  margin-top: 3px;
}

.musicItem {
  background-color: whitesmoke;
  padding: 3px;
  margin: 15px;
  border-radius: 15px;
  max-width: 400px;
}

.musicButton {
  margin: 5px;
}

.sundayColumn {
  flex: 1;
}

.musicsColumn {
  flex: 4;
}

@media screen and (max-width: 700px) {
  .container {
    flex-direction: column;
  }
  .musicItem {
    width: 90%;
  }
}
