/* CSS declarations go here */
body {
  background-image: url('seamless-music-pattern-2.jpg');
}

.selectedSundayContainer {
  font-size: 24px;
  font-weight: bold;
  background-color: whitesmoke;
  border-radius: 5px;
}

.counterColumnStyle {
  display: flex;
  color: #FFFFFF;
}

.counterStyle {
  margin: auto;
  font-size: 4.2rem;
  font-weight: bold;
}

.nameStyle {
  margin: auto;
  font-size: 1.5rem;
}

.addStyle {
  display: flex;
}

.removeStyle {
  display: flex;
}

.musicCardStyle {
  margin-top: 2rem;
  color: #FFFFFF;
  background-color: #212121;
  min-height: 100px;
}

.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
}

.addButton {
  margin-left: auto;
  margin-right: -1.7rem;
  margin-top: auto;
  margin-bottom: -1rem;
  background-color: #00BCD4;
  color: #212121;
  height: 3.5rem;
  width: 3.5rem;
  display: flex;
}

.oi {
  margin: auto;
}

.removeButton {
  margin-left: -1.7rem;
  margin-right: auto;
  margin-top: -0.75rem;
  margin-bottom: auto;
  background-color: #CD5C5C;
  color: #FFFFFF;
}
